<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rootlogin="http://rootlogin.ch/facelets">

	<ui:composition template="/WEB-INF/includes/layout.xhtml">
		<ui:define name="title">Mein Blog</ui:define>
		<ui:define name="content">
			<h1>Mein Blog</h1>
			<ui:repeat value="#{postController.posts}" var="post">
				<article>
					<h3><h:outputText value="#{post.title}" /></h3>
					<small><rootlogin:date date="#{post.createdAt}" /></small>
					<p>
						<h:outputText value="#{post.content}" />
					</p>
					<p>
						<small>
							#{post.comments.size()} Kommentar#{post.comments.size() == 1 ? '' : 'e'}
							-
							<h:outputLink value="#{postController.postPage}">
								<f:param name="id" value="#{post.id}" />
								<h:outputText value="Mehr lesen" />
							</h:outputLink>
						</small>
					</p>
					<hr />
				</article>
			</ui:repeat>
		</ui:define>
	</ui:composition>
</html>
