<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:rootlogin="http://rootlogin.ch/facelets">

<f:metadata>
	<f:viewAction action="#{postController.checkWhetherPostExists}"
		onPostback="true" />
</f:metadata>

<ui:composition template="/WEB-INF/includes/layout.xhtml">
	<ui:define name="title">Mein Blog :: #{postController.currentPost.title}</ui:define>
	<ui:define name="content">
		<h1>#{postController.currentPost.title}</h1>
		<small>
			<rootlogin:date date="#{postController.currentPost.createdAt}" />
		</small>
		<p>
			<h:outputText value="#{postController.currentPost.content}" />
		</p>
		<hr />
		<h3>Kommentare</h3>
		<ui:repeat value="#{postController.currentPost.comments}"
			var="comment">
			<div class="card">
				<div class="card-body">
					#{comment.content}
					<small class="comment-footer">
						<rootlogin:date date="#{comment.createdAt}" />
					</small>
				</div>
			</div>
		</ui:repeat>
		<hr />
		<h:form id="addComment">
			<div class="form-group #{yourComment.valid ? '' : 'has-error'}">
				<label for="yourComment" class="sr-only">Dein Kommentar</label>
				<h:inputText value="#{commentController.content}"
					binding="#{yourComment}" p:placeholder="Dein Kommentar"
					class="form-control" id="yourComment" />
				<h:messages class="help-block" id="messageYourComment"
					for="yourComment" />
			</div>
			<h:commandButton value="Kommentar hinzufügen"
				action="#{commentController.save(postController.currentPost)}"
				class="btn btn-primary" includeViewParams="true">
				<f:param name="id" value="#{postController.postId}" />
			</h:commandButton>
		</h:form>
		<hr />
		<h:outputLink value="#{postController.postsPage}">
			<h:outputText value="Zurück zu den Posts" />
		</h:outputLink>
	</ui:define>
</ui:composition>

</html>
